:root{
    --clear-white-color: #FFFFFF;
    --bg-secondary-color: #F5F4FA;
    --bg-dark-color: #2F303A;
    --font-color-h: #212121;
    --font-color-p: #757575;
    --font-color-adress: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --clear-black-color: #000000;
    --border-color: #EEEEEE;
}

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--clear-white-color);
}

.list{
    list-style: none;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

a:link,
a:visited {
    text-decoration: none;
}

[type=button]{
    cursor: pointer;
}
/* Header */

.logo{
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header{
    color: var(--clear-black-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.page{
    color: var(--font-color-h);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.page:hover, .page:focus, .contact-header:hover,
.contact-header:focus, .address-footer:hover, .address-footer:focus, .contact-footer:hover, .contact-footer:focus  {
    color: var(--accent-color);
}

.contact-header{
    color: var(--font-color-p);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* Section Hero */

.hero{
    background-color: var(--bg-dark-color);
}

.hero-title{
    color: var(--clear-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button{
    background-color: var(--accent-color);
    color: var(--clear-white-color);
    font-family: inherit, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* Values Sections */

.values-title{
    color: var(--font-color-h);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.values-text{
    color: var(--font-color-p);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
}

/* Activity Sections */

.activity-header {
    color: var(--font-color-h);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Team Sections */

.team{
    background-color: var(--bg-secondary-color);
}

.team-header{
    color: var(--font-color-h);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.team-member {
    color: var(--font-color-h);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-text {
    color: var(--font-color-p);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
}

/* Projects Sections */

.projects-button{
    color: var(--font-color-h);
    background-color: var(--bg-secondary-color);
    font-family: inherit, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.projects-button:hover, .projects-button:focus {
    color: var(--clear-white-color);
    background-color: var(--accent-color);
}

.project-title{
    color: var(--font-color-h);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em; 
}

.project-text{
    color: var(--font-color-p);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

/* Footer */

footer{
    background-color: var(--bg-dark-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.logo-footer {
    color: var(--clear-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.address-footer {
    color: var(--clear-white-color);
    font-style: normal;
}

.contact-footer{
    color: var(--font-color-adress);
    font-style: normal; 
}